<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlgSharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlgSharePoint.Properties.Settings>
            <setting name="PlgSharePoint_FuturocomSharePoint_Lists" serializeAs="String">
                <value>http://futur-win2008/_vti_bin/Lists.asmx</value>
            </setting>
        </PlgSharePoint.Properties.Settings>
    </applicationSettings>
</configuration>